[phases.setup]
nixPkgs = ["maven", "jdk21"]

[phases.build]
cmds = [
  "mvn clean install -DskipTests -f ../pom.xml",
  "mvn clean package -DskipTests"
]

[start]
cmd = "java -Dserver.port=$PORT -jar target/*.jar"
